.main-menu-wrap{
	overflow: hidden;
	height: 52px;
	border-radius: 4px;
}

.main-menu{
	overflow: hidden;
	height: 49px;
	border-radius: 4px;
}


.main-menu li{
	float: left;
	height: 21px;
	line-height: 21px;
	margin: 14px 0;
}

.main-menu li > a{
	margin: 11px 16px;
	padding: 10px 15px;
	text-transform: uppercase;
	
}

.main-menu li > a:hover, .main-menu li.active > a{
	text-decoration: none;
	border-radius: 2px;
}

#top{
	padding: 15px 0;
}

#top .logo > p{
	padding: 3px 0;
}

#top .teaser > p{
	background: #fff;
	border: 1px solid #e7e7e7;
	padding: 10px 17px;
	border-radius: 4px;
	line-height: 1.4em;
	position: relative;
	margin: 0 10px;
}

#top .teaser > p:before{
	position: absolute;
	top: 13px;
	left: -13px;
	content: '';
	width: 14px;
	height: 25px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAZBAMAAADztQLBAAAAHlBMVEUAAADn5+fn5+fn5+fn5+fn5+f////o6Oj6+vr09PQgubvnAAAABnRSTlMAXnyuFhFtooxQAAAASUlEQVQI12OAgDIIxQilxdsg3Io0KDcNyk2DctOg3DQoNw3MBdPhbRBaMw1CW6ah8t2B8nD1CP0QAYT5EAGE/VABmPtQ3ctQBgBcByKqrtm2iwAAAABJRU5ErkJggg==) 0 50% no-repeat;
}

#top .address > p{
	position: relative;
	padding: 10px 0;
}

#top .address > p:before{
	position: absolute;
	top: 7px;
	left: -18px;
	content: '';
	width: 10px;
	height: 38px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAmCAMAAAAhtUHBAAAANlBMVEUAAAB0odd0odcVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcB0ode3cpRaAAAAEHRSTlMAImb2shpz4GAEkDzMh2gMIqogEgAAAGJJREFUGNPNzDESgCAMRNHVQBBQWe9/WZcZdCwp/dUrkgWyJ0uehcBeyDhpXt14YucGYOMOY5Qi7aPAIhUGVP25/iswVvqJCRahDulAryWm1qFZjY8K5lpeXOvDdZm9+9nKDZUeBBMFDtnfAAAAAElFTkSuQmCC) 0 0 no-repeat;
}

#top .phone > p{
	position: relative;
	padding: 10px 0;
}

#top .phone > p > span.tel{
	font-size: 16px;
}

#top .phone > p:before{
	position: absolute;
	top: 7px;
	left: -20px;
	content: '';
	width: 13px;
	height: 36px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAkCAMAAABllkCwAAAAP1BMVEUAAAB0odd0odcVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcAVZcB0odeL5NusAAAAE3RSTlMAImbDywW1Eui8Y1jWdEIg9zCosL2/XQAAAHlJREFUGNPdjTkSwkAQA9ueY28bM/z/rVBeAsgoQnfWpZIE0FxEvHJStO22164ArkxEoGXklk7NA9mImJ2mqBHvzAQFD+PE0USKnNgMK2iFLSJH2KHUDOz+cmTMG7DEvQNobwkO73NrlOKlDH5i+ZLH+qnr8m/vMg9P864EKe6QsBcAAAAASUVORK5CYII=) 0 0 no-repeat;
}

#user1{
	margin-bottom: 20px;
}

#user2{
	margin-bottom: 20px;
}

.vertical-menu-wrap{
	border-radius: 4px;
	overflow: hidden;
}

.vertical-menu{
	
}

.vertical-menu li > a{
	padding: 13px 20px;
	display: block;
}

.vertical-menu li > a:hover{
	text-decoration: none;
}

.footer-modules-wrapper{
	color: #c0c0c0;
	overflow: hidden;
	background-color: #333;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-top: 35px;
	padding: 22px 0;
}

.footer-modules-wrapper .address > p{
	position: relative;
}

.footer-modules-wrapper .address > p:before{
	position: absolute;
	top: -3px;
	left: -18px;
	content: '';
	width: 9px;
	height: 38px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAmCAMAAAAhtUHBAAAAOVBMVEUAAADDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8Mdv1oFAAAAEnRSTlMAImb1snNgFwiQ5drMh2hBITPboqZrAAAAYElEQVQY082MOxaDQBDDBMPALv/4/oeNeS8BSkpUqbAFJaeYsgCdDjpYFfnJ0MqsHug1Expsg+IyH6qt+rL5l/5vtwp7WGLHLLaFgzJqLBhnHf9ReUZzitq/ts3T3csqX+4QBGGdHLUEAAAAAElFTkSuQmCC) 0 0 no-repeat;
}

.footer-modules-wrapper .phone > p{
	position: relative;
}

.footer-modules-wrapper .phone > p > span.tel{
	font-size: 16px;
}

.footer-modules-wrapper .phone > p:before{
	position: absolute;
	top: -2px;
	left: -20px;
	content: '';
	width: 13px;
	height: 36px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAkCAMAAABllkCwAAAAS1BMVEUAAADDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PSSDXtAAAAGHRSTlMAImbDyby0EunSWAP33npvYEAwCwioRx7HGuEJAAAAf0lEQVQY092NOxLCMAwF15b8Jwn5ALr/SfEYCugYymy3o3laOjWKSPQMgla3P3xROrHwQgTqhFzS0Lwgd8yuw6qiDXvfmqAQbWcQ0USynFgPWkD7ZjXLZm0r+Ay42B2ZR6bTErcR1lITbGE6xqslhBjCzE+4LzH/qd79uztN4QmligSqH7BNUgAAAABJRU5ErkJggg==) 0 0 no-repeat;
}

.page-header h1{
	margin-top: 0;
}

.vertical-menu a,
.main-menu a{
	transition: background-color 0.5s ease;
}