.form-border{
    border-radius: 4px;
    padding: 15px;
    margin-top: 30px;
}

.form-border .controlls input,
.form-border .controlls textarea
{
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 4px;
    outline: none;
}



.form-border .intro-text{
    margin: 10px 0;
}

.btn-jsend-submit{
    width: 100%;
    margin: 0 !important;
}
