/**
 *	background: 	#f8f8f8; (background-body)
 *	main: 		#1e88e5; (background-menu)
 *	dark: 		#1371bb; (borders, active-menus)
 *	active: 	#03afff; (btn)
 *	active-hover:	#48c1f9; (btn-hover)
 *	link:		#1565c0;
 *
 **/

body.blue-scheme{
	background: #f8f8f8;
}

body.blue-scheme .main-menu-wrap{
	background-color: #1371bb;
}

body.blue-scheme .main-menu{
	background-color: #1e88e5;
}

body.blue-scheme .main-menu > li{
	border-left: 1px solid #1371bb; 
}

body.blue-scheme .main-menu > li:first-child{
	border-left: none; 
}

body.blue-scheme .main-menu > li > a{
	color: #fff;
}

body.blue-scheme .main-menu li > a:hover,
body.blue-scheme .main-menu li.active > a{
	background-color: #1371bb;
}


body.blue-scheme a{
	color: #1565c0;
}

body.blue-scheme .vertical-menu-wrap{
	border: 1px solid #e7e7e7;
}

.vertical-menu li > a{
	background-color: #1e88e5;
	color: #fff;
}

.vertical-menu li.parent li > a{
	background-color: #fff;
	color: #666666;
}

.vertical-menu li.parent > a{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAIBAMAAAA/ygPCAAAALVBMVEUAAAATcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbsTcbvO9+2uAAAADnRSTlMA+UeoTDrjhXoJ618tHCVSlykAAAA8SURBVAjXY5gRwMDAZMRQJ8TAEPiYIfChA886IQYWOZFr7zYwMDg+zHvBAJSXe1fAAASKj4EEkGvJwAAAkrYM/qkSEbkAAAAASUVORK5CYII=);
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

.vertical-menu li.parent li.active > a,
.vertical-menu li.parent.active li > a:hover{
	background-color: #f5f5f5;
	color: #1371bb;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMBAMAAACtsOGuAAAAMFBMVEUAAAAeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOUeiOWz6/DbAAAAD3RSTlMA+kqoO/HigESLdGArHw9MIMnYAAAAO0lEQVQI12NoVmBgYLCXBhKt/xcwMLDE/wQyj/03YGDgzf/MwMAkL8TAoPhRAcJwBDIY6oEMhucODAwAjIwMhHYWBfYAAAAASUVORK5CYII=);
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

.vertical-menu li.parent.active > a{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIBJREFUeNpi+P//Px8Q1wGxDRAz4MAuQLwSiF1BnKb/EPATiD2xKDYH4q9QNatBArZQxTBN3kiKdYH4NVTuDxB7wSR80TSB+DJA/Bgq9g+I40Fqka32RtP06D8CVMDUobsX5Icf/1FBO7IabCGCrGkJEDMS0gDCHtBgZEWXAwgwAIX6Q3N6JKB6AAAAAElFTkSuQmCC);
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

.vertical-menu li.active > a,
.vertical-menu li > a:hover{
	background-color: #1371bb;
	color: #fff;
}

.vertical-menu > li{
	border-top: 1px solid #1371bb;
}

.vertical-menu > li.parent > ul{
	display: none;
}

.vertical-menu > li.parent.active > ul{
	display: block;
}

.vertical-menu > li:first-child{
	border-top: none;
}

.vertical-menu li.parent ul > li{
	border-top: 1px solid #e7e7e7;
}

.accent-btn{
    height: 38px;
    background: #03afff;
    color: #fff !important;
    display: block;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    border-bottom: 3px solid #1371bb;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    margin: 0 35px;
    max-width: 180px;
}

.accent-btn:hover{
    background: #48c1f9;
    text-decoration: none;
}

/* JSEND */

.form-border{
    background: #fff;
    border: 1px solid #e7e7e7;
}

.form-border .controlls input,
.form-border .controlls textarea
{
    border: 3px solid #efefef;
    transition: border-color 0.5s ease;
}

.form-border .controlls input:active,
.form-border .controlls input:focus,
.form-border .controlls textarea:active,
.form-border .controlls textarea:focus
{
    border: 3px solid #03afff;
}

/* BLOG */

.blog .item:hover{
    border: 2px solid #03afff;
    background: #f8f8f8;
}

.blog .pagination a.pagenav,
.blog .pagination span.pagenav{
    background: #1e88e5;
    color: #fff;
}

.blog .pagination a.pagenav:hover,
.blog .pagination span.pagenav{
    background: #1371bb;
}

.blog div[class^="leading-"]{
    background: #fff;
    border: 2px solid #e7e7e7;
    transition: border-color 0.5s ease;
}


.blog div[class^="leading-"]:hover{
    border: 2px solid #03afff;
    background: #f8f8f8;
}

.blog .item{
    background: #fff;
    border: 2px solid #e7e7e7;
    transition: border-color 0.5s ease;
}
